
    .chart-text h1 {
        font-size: 120px;
        font-weight: bold;
        padding: 0px;
        margin: 0px;
    }

    .chart-text h2 {
        font-size: 50px;
        font-weight: bold;
        padding: 0px;
        margin: 0px;
        color: #efefef;
    }

    .chart-text p {
        font-size: 14px;
        padding: 0px;
        margin: 0px;
        color: #aaa;
    }
