
.footer h1 {
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 200;
  color: #9FACBD;
  font-size: 13px;
  text-transform: uppercase;
}

.footer p {
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  color: #9FACBD;
  font-size: 11px;
}

  .footer p a {
    color: #0AA3E0;
  }
