.modal p {
  color: #9FACBD;
}

.modal h5.modal-title {
  color: #E11571;
    font-family: 'Roboto Slab', serif;
    font-weight: 200;
    font-size: 40px;
}

.modal input, .modal select {
  color: #D8E1E9;
}

.modal button.btn.btn-primary {
  color: #E11571;
  background: none;
  border: 0px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
}

.modal button.btn.btn-secondary {
  color: #9FACBD;
  background: none;
  border: 0px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
}
