
.file-upload-progress { position: relative; top: -20px; color: #4F8A10; background-color: red; border-color: #D2ECA4; font-size: 2px;}

button.upload-button {
  background: #9FACBD;
  margin-top: 5px;
  color: white;
  padding: 10px;
  border-radius: 3px;
  font-size: 13px;
}

.ql-editor {
  word-wrap: break-word;
  white-space: normal;
}

  .ql-editor h3 {
    margin: 0px !important;
    padding: 0px !important;
    font-size:20px !important;
    height: auto !important;
    padding-bottom: 10px !important;
    font-family: 'Ubuntu', sans-serif !important;
  }

  .ql-editor h2 {
    margin: 0px !important;
    padding: 0px !important;
    font-size:22px !important;
    height: auto !important;
    padding-bottom: 10px !important;
    font-family: 'Ubuntu', sans-serif !important;
  }

  .ql-editor h1 {
    margin: 0px !important;
    padding: 0px !important;
    font-size:24px !important;
    height: auto !important;
    padding-bottom: 10px !important;
    color: #0AA3E0 !important;
    font-family: 'Ubuntu', sans-serif !important;
  }

  .ql-editor p {
    margin: 0px !important;
    padding:0px !important;
    height: auto !important;
    padding-bottom: 10px !important;
    font-family: 'Ubuntu', sans-serif !important;
  }
